USE [master]
GO
/****** Object:  Database [Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495]    Script Date: 30/3/2023 2:02:08 PM ******/
CREATE DATABASE [Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495', FILENAME = N'C:\Users\j.saldivar\Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495_log', FILENAME = N'C:\Users\j.saldivar\Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Api_UserContext-0abc0bc6-a9be-4f38-85df-17c861337495]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30/3/2023 2:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30/3/2023 2:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Precio] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[IDCategory] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Imagen] [text] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30/3/2023 2:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwDashboard]    Script Date: 30/3/2023 2:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwDashboard] AS 
SELECT 
	(SELECT COUNT(*) FROM dbo.[User]) total_user, 
	(SELECT COUNT(*) FROM dbo.[Products]) total_products,
	(SELECT COUNT(*) FROM dbo.[Categories]) total_categories;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/3/2023 2:02:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230307182029_data', N'7.0.3')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'test')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'prueba')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (10003, N'Bebida')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Precio], [Author], [IDCategory], [Date], [Cantidad], [Imagen]) VALUES (1, N'Product name new Edited00000', N'product description', N'10.00', N'athor edited', 1, CAST(N'2023-03-16T16:39:12.2600000' AS DateTime2), 1, NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Precio], [Author], [IDCategory], [Date], [Cantidad], [Imagen]) VALUES (2, N'Cocacola', N'Pack de Cocacola', N'190.00', N'Pepsi', 10003, CAST(N'2023-03-23T12:12:48.8566667' AS DateTime2), 1, N'https://i.imgur.com/uVxl0qr.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Precio], [Author], [IDCategory], [Date], [Cantidad], [Imagen]) VALUES (9, N'Pepsi', N'Pack de Pepsis', N'170.00', N'Cocacola', 2, CAST(N'2023-03-09T11:34:21.1800000' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Date]) VALUES (1, N'Arnol', N'arnol@exa.com', N'9pb5G40cM9jSNlNyub/Rag==', CAST(N'2023-03-07T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Date]) VALUES (2, N'Castro', N'castro@exa.com', N'aVyPNOq55JJJVq6IT8VPmIE58paj9Ty8Yp9yQW+F0+0=', CAST(N'2003-07-17T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Date]) VALUES (3, N'admin', N'admin@exa.com', N'NgKlzXP4zQ+eLvybJ8aq7g==', CAST(N'2010-10-17T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Cantidad]  DEFAULT ((1)) FOR [Cantidad]
GO
USE [master]
GO
